<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ys_megamenu" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mega Menu</label>
            <tab>ecomwares_wokiee</tab>
            <resource>Ecomwares_Wkmegamenu::settings</resource>
            <group id="menu_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <!--
                <field id="sidebar_menu" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sidebar MegaMenu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                -->
                <field id="animation_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Menu Dropdown Animation</label>
                    <source_model>Ecomwares\Wkmegamenu\Model\Config\Animation</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
